<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/axios")

    @Scripts.Render("~/bundles/bootstrap")

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/captcha")

    @RenderSection("scripts", required: false)
</head>
    <body>
        <!-- Nav header-->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="~/">
                    <img src="~/Images/Darfon_logo_w.png" alt="Bootstrap" width="90" height="25">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="~/">@Resources.Resource.Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Resources.Resource.Query
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href='/Query/Localization'>Localization</a></li>                                
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Resources.Resource.Function
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href='/help'>API</a></li>
                                @*<li><a class="dropdown-item" href='/Account/Login'>Login</a></li>*@
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    @Html.ActionLink("Admin", "Index", "Users", new { area = "Admin" }, new { @class = "dropdown-item" })
                                </li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    @{ 
                        if (HttpContext.Current.Session["userName"] == null)
                        {
                            <button id="btn-login" class="btn btn-outline-info me-2" type="button" data-bs-toggle="modal" data-bs-target="#loginModal">@Resources.Resource.LoginTitle</button>
                        }
                        else
                        {
                            <label class="me-2" style="color:white">
                                @Html.ActionLink("Hello "+ @HttpContext.Current.Session["userName"] + " !!", "Maintain", "Account", new { area = "" }, new { style = "color:white;" })                                
                            </label>
                            <button id="btn-logout" class="btn btn-outline-info me-2" type="button" data-bs-toggle="modal">@Resources.Resource.Logout</button>
                        }
                    }
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Resources.Resource.Language
                            </a>
                            <ul id="dropdown_lang" class="dropdown-menu">
                                <li><a id="lang_en" class="dropdown-item" href="~/Home/ChangeLanguage?lang=en"><span class="fi fi-en"></span>@Resources.Resource.English</a> </li>
                                <li><a id="lang_tw" class="dropdown-item" href="~/Home/ChangeLanguage?lang=zh-TW"><span class="fi fi-tw"></span>@Resources.Resource.ChineseTraditional</a> </li>
                                <li><a id="lang_cn" class="dropdown-item" href="~/Home/ChangeLanguage?lang=zh-CN"><span class="fi fi-cn"></span>@Resources.Resource.ChineseSimple</a> </li>
                                <li><a id="lang_vn" class="dropdown-item" href="~/Home/ChangeLanguage?lang=vi-VN"><span class="fi fi-vn"></span>@Resources.Resource.Vietnamese</a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <!-- Footer -->
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                    <p class="col-md-4 mb-0 text-muted">Copyright &copy; @DateTime.Now.Year Darfon Company, Inc</p>
                    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                    </a>
                    <ul class="nav col-md-4 justify-content-end">
                        <li class="nav-item"><a href="~/" class="nav-link px-2 text-muted">@Resources.Resource.Home</a></li>
                    </ul>
                </footer>
            </div>
        </div>
        <!-- Login Modal -->
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <nav>
                            <div class="nav nav-tabs d-flex align-items-center justify-content-center" id="login-register-tabs" role="tablist">
                                <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">@Resources.Resource.LoginTitle</button>
                                <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="false">@Resources.Resource.RegistTitle</button>
                            </div>
                        </nav>
                        <br />
                        <div class="tab-content" id="login-register-tabs-content">
                            <div class="tab-pane fade active show" id="login" role="tabpanel" aria-labelledby="login-tab">
                                <!-- Login form goes here -->
                                <div class="d-flex align-items-center justify-content-center">
                                    <form class="">
                                        <div class="form-floating mb-4">
                                            <input id="loginAccount" name="loginAccount" type="text" class="form-control form-control-lg rounded-3" placeholder="AD Account/ System Account">
                                            <label for="loginAccount">@Resources.Resource.Account</label>
                                        </div>
                                        <div class="form-floating mb-4">
                                            <input id="loginPassword" name="loginPassword" type="password" class="form-control form-control-lg rounded-3" placeholder="Password">
                                            <label for="loginPassword">@Resources.Resource.Password</label>
                                        </div>
                                        <div class="form-floating mb-3 justify-content-center">
                                            <canvas id="loginCanvas"></canvas>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input id="loginCaptcha" name="loginCaptcha" type="text" class="form-control form-control-lg rounded-3" placeholder="Captcha">
                                            <label for="loginCaptcha">@Resources.Resource.Captcha</label>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <input id="btn_login" name="btn_login" type="button" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary mx-2" value="@Resources.Resource.LoginTitle">
                                            <input id="btn_loginAD" name="btn_loginAD" type="button" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary mx-2" value="@Resources.Resource.ADLogin">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <!-- Register form goes here -->
                                <div class="d-flex align-items-center justify-content-center">
                                    <form class="">
                                        <div class="form-floating mb-3">
                                            <input id="registAccount" name="registAccount" type="text" class="form-control rounded-3" placeholder="AD Account/ System Account">
                                            <label for="registAccount">@Resources.Resource.Account</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input id="registPassword" name="registPassword" type="password" class="form-control rounded-3" placeholder="Password">
                                            <label for="registPassword">@Resources.Resource.Password</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input id="validateRegistPassword" name="validateRegistPassword" type="password" class="form-control rounded-3" placeholder="Password">
                                            <label for="validateRegistPassword">@Resources.Resource.PasswordAgain</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <canvas id="registCanvas"></canvas>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input id="registCaptcha" name="registCaptcha" type="text" class="form-control form-control-lg rounded-3" placeholder="Captcha">
                                            <label for="registCaptcha">@Resources.Resource.Captcha</label>
                                        </div>

                                        <input id="btn_regist" name="btn_regist" type="button" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" value="@Resources.Resource.RegistTitle">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="justify-content: center; align-items: center;">
                        <label id="lbl_errMsg"></label>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            // init
            $(function () {

            });
            // logout

            $('#btn-logout').on('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/Account/Logout",
                    success: function (result) {
                        location.reload();                        
                    },
                    error: function (xhr, status, error) {
                        // 登入失敗後的處理
                    }
                });
            });

            // login Captcha
            const loginCaptcha = new Captcha($('#loginCanvas'), {
                length: 6,                          // 校验码长度
                width: 150,                         // canvas宽度
                height: 50,                         // canvas高度
                font: 'bold 23px 微软雅黑',          // 文本字体样式
                resourceType: 'aA0',                // 资源类型：a-小写字母、A-大写字母、0-数字，可任意组合
                resourceExtra: [],                  // 额外资源
                clickRefresh: true,                 // 点击刷新
                autoRefresh: true,                  // 调用校验接口后是否自动刷新（校验成功不会刷新）
                caseSensitive: false,               // 大小写是否敏感
            });

            $('#btn_login').on('click', function() {
                login("/Account/Login");
            });

            // AD login
            $('#btn_loginAD').on('click', function () {
                login("/Account/ADLogin");
            });

            function login(targetURL) {

                const val = $('input[name="loginCaptcha"]').val();

                // account login need captcha test
                if (targetURL != "/Account/ADLogin") {
                    if (val === "") {
                        alert('@Resources.Resource.EmptyCaptcha');
                        return
                    }
                    if (loginCaptcha.valid(val)) {
                        // success
                        loginCaptcha.refresh();                    
                    } else {
                        // failure
                        $("#lbl_errMsg").text('@Resources.Resource.ErrorCaptcha');
                        alert('@Resources.Resource.ErrorCaptcha');
                        $('input[name="loginCaptcha"]').val('');
                        return
                    }
                }

                // 取得使用者輸入的帳號和密碼
                var username = $('#loginAccount').val();
                var password = $('#loginPassword').val();
                console.log("username:" + username);
                console.log("password:" + password);
                // 發送 HTTP POST 請求，並傳遞帳號和密碼作為參數
                $.ajax({
                    type: "POST",
                    url: targetURL,
                    data: { username: username, password: password },
                    success: function (result) {
                        if (result.success) {
                            // 登入成功，可以進行相應的處理
                            location.reload();
                        } else {
                            alert(result.message);
                            $("#lbl_errMsg").text(result.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        // 登入失敗後的處理
                    }
                });
            }            

            // regist Captcha
            const registCaptcha = new Captcha($('#registCanvas'), {
                length: 6,                          // 校验码长度
                width: 150,                         // canvas宽度
                height: 50,                         // canvas高度
                font: 'bold 23px 微软雅黑',          // 文本字体样式
                resourceType: 'aA0',                // 资源类型：a-小写字母、A-大写字母、0-数字，可任意组合
                resourceExtra: [],                  // 额外资源
                clickRefresh: true,                 // 点击刷新
                autoRefresh: true,                  // 调用校验接口后是否自动刷新（校验成功不会刷新）
                caseSensitive: false,               // 大小写是否敏感
            });

            $('#btn_regist').on('click', function() {
                const val = $('input[name="registCaptcha"]').val();
                if (val === "") {
                    alert('@Resources.Resource.EmptyCaptcha');
                return
                }
                if (registCaptcha.valid(val)) {
                    var psw = $('#registPassword').val();
                    var validatePsw = $('#validateRegistPassword').val();
                    if (psw != validatePsw) {
                        $("#lbl_errMsg").text('@Resources.Resource.PasswordNotSame');
                        $('input[name="registCaptcha"]').val('');
                        alert('@Resources.Resource.PasswordNotSame');
                    } else {
                        // success
                        registCaptcha.refresh();
                        regist();
                    }
                } else {
                    // failure
                    $("#lbl_errMsg").text('@Resources.Resource.ErrorCaptcha');
                    alert('@Resources.Resource.ErrorCaptcha');
                }
            });

            function regist() {
                // 取得使用者輸入的帳號和密碼
                var username = $('#registAccount').val();
                var password = $('#registPassword').val();

                // 發送 HTTP POST 請求，並傳遞帳號和密碼作為參數
                $.ajax({
                    type: "POST",
                    url: "/Account/Regist",
                    data: { username: username, password: password },
                    success: function (result) {
                        if (result.success) {
                            // 登入成功，可以進行相應的處理
                            alert('@Resources.Resource.RegistDone');
                            location.reload();
                        } else {
                            alert(result.message);
                            $("#lbl_errMsg").text(result.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        // 登入失敗後的處理
                    }
                });
            }

            // modal login/ regist
            var myModal = document.getElementById('loginModal')
            var myModalTab = document.getElementById('login-register-tabs')
            var modal = new bootstrap.Modal(myModal)
            var tab = new bootstrap.Tab(myModalTab)

        </script>
    </body>
</html>
