<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Admin</title>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/vue")
        @Scripts.Render("~/bundles/axios")
        @Scripts.Render("~/bundles/bootstrap")

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/captcha")

        @RenderSection("scripts", required: false)

    </head>
    <body>
        <div class="d-flex">        
            <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px; height: 100vh;">
                <a href="@Url.Action("Index", "Home", new { area="" })" class="navbar-brand" style="background-image: url('../../Images/Darfon_logo_r.png'); width:150px; height:30px">
                    <!-- 將原本的文字內容移到 <span> 標籤內 -->
                    <span class="sr-only">&nbsp;</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Users", new { area = "Admin" }, new { @class = "nav-link text-white" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Users", "UserMaintain", "Users", new { area = "Admin" }, new { @class = "nav-link text-white" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Groups", "GroupMaintain", "Groups", new { area = "Admin" }, new { @class = "nav-link text-white" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Functions", "FunctionMaintain", "Functions", new { area = "Admin" }, new { @class = "nav-link text-white" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Config", "ConfigMaintain", "Ini", new { area = "Admin" }, new { @class = "nav-link text-white" })
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-fill ">
                <!-- Footer -->
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>    
    </body>
</html>